appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
babelfish==0.5.5
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
brotlipy==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.5
cffi==1.12.3
chardet==3.0.4
clarifai==2.6.2
Click==7.0
clingkernel==0.0.2
colorama==0.4.1
configparser==3.7.4
cryptography==2.7
daiquiri==1.5.0
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.5
detectlanguage==1.3.0
distlib==0.2.9
distro==1.4.0
Django==2.1.5
djangorestframework==3.10.2
dogpile.cache==0.7.1
entrypoints==0.3
enzyme==0.4.1
future==0.17.1
git-pull-request==3.0.1
googleapis-common-protos==1.6.0
grpcio==1.22.0
guessit==3.0.4
html5lib==1.0.1
idna==2.8
importlib-metadata==0.18
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.1.0
ipywidgets==7.5.0
isort==4.3.18
jedi==0.13.3
Jinja2==2.10.1
jsonschema==2.6.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
lazy-object-proxy==1.3.1
lensfun==0.3.2
lockfile==0.12.2
louis==3.10.0
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.1.0
msgpack==0.6.1
nbconvert==5.5.0.dev0
nbformat==4.4.0
notebook==6.0.0
numpy==1.16.4
packaging==19.0
pandocfilters==1.4.2
parso==0.5.1
pbr==5.4.1
pep517==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pluggy==0.12.0
ply==3.11
progress==1.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.9.1
ptyprocess==0.6.0
pwquality==1.4.0
py==1.8.0
pycparser==2.19
PyGithub==1.43.7
Pygments==2.4.2
PyGObject==3.32.2
PyJWT==1.7.1
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
pysrt==1.1.1
pytesseract==0.2.7
pytest==5.0.1
python-dateutil==2.8.0
python-libtorrent==1.1.13
pytoml==0.1.21
pytz==2019.1
pyxdg==0.26
pyzmq==18.0.2
rarfile==3.0
rebulk==1.0.0
requests==2.22.0
retrying==1.3.3
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.12.0
soupsieve==1.9.2
stevedore==1.30.1
subliminal==2.0.5
team==1.0
terminado==0.8.1
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
trash-cli==0.17.1.14
typed-ast==1.3.5
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.0
wrapt==1.11.1
zipp==0.5.2
